@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #f3f4f6;
}

.resume-container {
  width: 80%;
  margin: 10% auto;
  background: white;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

@media print {
  .no-print {
    display: none;
  }
}
